<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BeeSafeWeb</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BeeSafeWeb.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/leafletjs/leaflet.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #map {
            width: 80vw; 
            height: 65vh; 
        }

    </style>
</head>
<body>
<nav class="bg-slate-600 text-white p-4 flex justify-between items-center">
    <!-- Left Side: Title -->
    <p class="text-xl font-bold">'t Geels Bieke</p>

    <!-- Right Side: Login Button -->
    <a href="/Auth/Login" class="bg-white text-black px-4 py-2 rounded hover:bg-gray-200 transition">Login</a>
</nav>

<main>
    <div class="p-4">
        <h1 class="text-3xl text-bold">@ViewData["BigTitle"]</h1>
        @RenderBody()        
    </div>
</main>
<script src="~/lib/leafletjs/leaflet.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>