@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="flex min-h-screen justify-center items-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
        <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <form method="post">
            <div class="mb-4">
                <label asp-for="Input.Email" class="block text-sm font-medium text-gray-700">Email</label>
                <input asp-for="Input.Email"
                       autocomplete="username"
                       aria-required="true"
                       placeholder="name@example.com"
                       class="w-full p-3 border border-gray-300 rounded-md mt-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                       required />
                <span asp-validation-for="Input.Email" class="text-red-500 text-xs"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Input.Password" class="block text-sm font-medium text-gray-700">Password</label>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" class="w-full p-3 border border-gray-300 rounded-md mt-2 focus:outline-none focus:ring-2 focus:ring-indigo-500" required />
                <span asp-validation-for="Input.Password" class="text-red-500 text-xs"></span>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit" class="w-full py-3 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">Login</button>
            </div>

        </form>
    </div>
</div>